!!!
%html
  %head
    %title Omniauth Page
    / [if lt IE 9]
      %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    %link{ :href => "/css/bootstrap.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => "/css/bootstrap-responsive.css", :type => "text/css", :rel => "stylesheet" }
    %link{ :href => "/css/stylesheet.css", :type => "text/css", :rel => "stylesheet" }

    %meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width")/

  %body
    %header.page-header
      %h1
        Login Page
    = yield
    %footer 
      %p &copy; Fetcher 2012

    %script(type='text/javascript' src='js/jquery.min.js')
    %script(type='text/javascript' src='js/bootstrap.min.js')
    %script(type='text/javascript' src='js/app.js')